html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(15, 15, 15);
    font-family: "Montserrat", sans-serif;
    color: white;
    /* height: 3000px; */
}

p {
  padding: 15px 0;
  font-size: 18px;
}

h1 {
    font-family: Archivo Black, sans-serif;
    font-weight: 400;
    font-size: 70px;
}
.navbar {
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(10px);
    border: none;
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.navbar .container {
    width: 92%;
    max-width: 1000px;
    padding-left: 0;
    padding-right: 0;
}

.me {
    width: 92%;
    max-width: 1000px;
    min-height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.me-content {
    width: 500px;
    max-width: 100%;
}

.me-content-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.me-content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.me-buttons .btn {
    font-size: 14px;
    padding: 10px 20px;
    font-weight: bold;
}

.my-picture{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}


.about {
    width: 92%;
    max-width: 1000px;
    min-height: 650px;

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.about-contents {
    display: flex;
    flex-direction: row;
}

.about-contents-left {
    width: 50%;
}
.about-contents-right {
    width: 50%;
    
}
.my-tools {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
